<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/nav.ejs') %>

    <main>

      <% if(orders.lengthb <= 0){ %>
        <h1>Order</h1>
      <% } else { %>
        <ul class="orders__container">
          <% orders.forEach(order=> { %>
            <li class="order__list">
              <h1 class="order__heading">Order - # <%= order._id %></h1>

              <ul class="order__container-item">
                <% order.items.forEach(item=> { %>
                  <li class="order__item"><%= item.title %> (<%= item.quantity %>)</li>
                <% }) %>  
              </ul>
            
            </li>
          <% });%>
        </ul>

      <% } %>
    </main>
  </body>
</html>
